@using TopLearn.Core.Services.Interfaces
@inject IUserService _userService
@{ 
    var user = _userService.GetUserById(Convert.ToInt32(User.Identity.Name));
}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"]</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <partial name="_UserStyle" />
    <!--[endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="/" target="_blank" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">وب مارکت</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>فروشگاه وب مارکت</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/PorojectImg/UserImage/@user.UserImage" class="user-image" alt="User Image">
                                <span class="hidden-xs">@user.UserFristName @user.UserLastName</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/PorojectImg/UserImage/@user.UserImage" class="img-circle" alt="User Image">
                                    <p>
                                        @user.UserFristName @user.UserLastName
                                        <small>مدیریت کل سایت</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-right" >
                                        <a href="~/Panel/Profile" class="btn btn-info btn-flat" style="color: #fff; background-color: #0f8ae2; border-color: #1b6d85;">پروفایل</a>
                                    </div>
                                    <div class="pull-left" >
                                        <a href="/Logout/" class="btn btn-danger btn-flat" style="background-color: #dd4b39;border-color: #d73925">خروج</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- right side column. contains the logo and sidebar -->
        <partial name="_UserAside" />
        <!-- Content Wrapper. Contains page content -->
        @RenderBody()
        <!-- /.content-wrapper -->
        <footer class="main-footer text-center">
            <strong>تمام حقوق برای <a href="#"> CMS </a> محفوظ است</strong>
        </footer>
    </div>


    <partial name="_UserScripts" />
    @RenderSection("Scripts", false)
</body>
</html>
